<header class="p-4 flex justify-center my-8">
    <img class="rounded-full w-24 h-24 ring-2 ring-gray-200 mr-4 shadow shadow-black" alt="Gorka" src="/assets/images/gorka.jpg" />
    <div class="items-baseline justify-center p-2 align-middle">
        <h1 class="inline text-2xl pr-2 text-gray-900 border-r-2 font-bold border-orange-300">{{ site.title }}</h1>
        <h2 class="inline text-xl pl-2 font-light text-gray-500">{{ site.subtitle }}</h2>
        {% include navigation.html %}
    </div>
</header>