<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16"> 
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
    {% feed_meta %}
  </head>
  <body class="min-h-screen flex flex-col">
    {% include header.html %}
    <div class="mx-auto p-2 my-4 w-72 md:p-4 md:my-8 md:w-5/6">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
